 params {
  //// Standard configs
  samplesheet=''
  model=''
  barcode_kit=''
  gpu_active=false
  gpus='0'
  outdir = ''
  tracedir = "${params.outdir}/pipeline_info"
  help = false

  //Filtering configs
  min_length='1000'
  min_q='10'
  head_crop='50'
  max_length='1690'

  //Kraken
  kraken_db = 's3://genome-idx/kraken/k2_standard_20230605.tar.gz'
  bracken_db = ''
  kraken_tax_level = 'S'
  kraken_db_tax = ''
  read_len = ''

  //Slurm controller
  node_partition="p_lemenzad_1, --constraint=hal"
  gpu_node_partition='p_lemenzad_1'
  gpu_clusterOptions="--gres=gpu:1"
} 

profiles {
  docker {docker.enabled=true}
  singularity { singularity.enabled=true
                singularity.autoMounts = true
                docker.enabled=false 
  }
  slurm {
    includeConfig './conf/slurm.config'
    includeConfig './conf/slurm_resources.config'
  }
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
  overwrite = true
}
